<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Us</title>
</head>
<body>
<h1>About Page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloribus et eveniet excepturi nihil odit placeat quam quod sed veritatis! Blanditiis dolores doloribus ex exercitationem fugiat modi numquam quasi, tempora!</p>

<h1>Porfolio</h1>

<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate ducimus eligendi est modi nesciunt nobis quia veniam. Accusamus cum delectus dicta pariatur possimus rerum voluptatibus. Dignissimos nam nisi officia.</span><span>Ad assumenda cum delectus dolore eaque eos inventore ipsum laboriosam minima nostrum odio optio perferendis, quasi sed, similique vel veritatis voluptatibus? Aliquid consequuntur fugit modi, perspiciatis placeat praesentium vero voluptatibus.</span></p>
</body>
</html>