<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
<h1>My Contacts</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam culpa, cumque ea, enim explicabo iste laborum mollitia nihil quae quaerat quibusdam quo recusandae reprehenderit saepe sapiente, tempora veniam voluptate.</span><span>Commodi laboriosam magni quidem sequi vitae! Aspernatur eveniet harum libero maxime voluptates? Accusantium aspernatur commodi, dolorum ea impedit ipsa maiores, natus, nostrum numquam quidem tenetur veniam. Eaque quod tenetur totam.</span></p>


<h2> My Phone number</h2>
<p>0725332542</p>


<h2>My Email</h2>
<p>ajamanas@gmail.com</p>
</body>
</html>