<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>
<body>
<h1>My Gallery</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias amet asperiores dolorem doloremque eligendi impedit incidunt ipsa laudantium maxime, minima molestiae, molestias nihil optio porro quod quos voluptates voluptatibus?</span><span>A adipisci alias aliquam, dolorem eligendi enim, eos exercitationem explicabo facilis fugit in iste magni molestias natus nihil nostrum odio placeat reiciendis rem repellat sint veritatis vitae! Error, est reiciendis!</span></p></body>
</html>